<div ng-include src="'views/header.html'"></div>
<div class="page-header">
	<h3>
		<span ng-repeat="data in MenuName">
	        <span ng-show="$index > 0">></span>
	        {{data.menu_name_th}}
	    </span>
	</h3>
</div>
<div class="col-lg-10 col-lg-offset-1" ng-form="form_data">
	<div class="row form-group">
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			ภูมิภาค
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<select name="Year" class="form-control" ng-model="Sperm.region_id" ng-options="region.RegionID as region.RegionName for region in PersonRegion" required="required">
			    	<option value="">กรุณาเลือก..</option>
				</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			เดือน
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<select name="Year" class="form-control" ng-model="Sperm.months" ng-options="month.monthValue as month.monthText for month in MonthList" required="required">
					<option value="">กรุณาเลือก..</option>
				</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			ปีพ.ศ.
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<select name="Year" class="form-control" ng-model="Sperm.years" ng-options="year.yearText as year.yearValue for year in YearList" required="required">
					<option value="">กรุณาเลือก..</option>
				</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			<button class="btn btn-info" ng-click="goSearch(Sperm)" ng-disabled="!form_data.$valid">
				<span class="glyphicon glyphicon-search"></span> 
				ค้นหา
			</button>
		</div>
	</div>
	<hr>
	<div ng-show="Search || SpermDetailList.length > 0">
		<div class="row form-group">
			<div class="col-lg-6">
				<div class="row form-group">
					<label class="col-lg-12 form-control-static">
						ภูมิภาค : {{CooperativeName}}
					</label>
					<label class="col-lg-12 form-control-static">
						 เดือน : {{MonthName}}
					</label>
					<label class="col-lg-12 form-control-static">
						ปี : {{YearName}}
					</label>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row form-group">
					<label class="col-lg-12 form-control-static">
						เป้าหมายประจำปี : {{Goal.goal_year.price_value}} บาท
					</label>
					<label class="col-lg-12 form-control-static">
						 เป้าหมายสะสม : {{Goal.goal_total}} บาท
					</label>
					<label class="col-lg-12 form-control-static">
						เป้าหมายประจำเดือน : {{Goal.goal_months}} บาท
					</label>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-12">
				<button class="btn btn-danger  pull-right" ng-click="addSpermDetail()" ><!--ng-disabled="!form_data.$valid"-->
				<span class="glyphicon glyphicon-plus"></span> 
				เพิ่ม
			</button>
			</div>
		</div>
		<div>
			<fieldset style="border: 1px solid #999; padding: 10px; margin-top: 10px;" ng-repeat="SpermDetail in SpermDetailList">
			<div ng-form="sub_form_data">
				<div class="row form-group">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						วันที่แก้ไขล่าสุด {{getThaiDateTimeFromString(SpermDetail.update_date)}}
					</div>
				</div>
				<div class="row form-group" ng-init="parentIndex = $index">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						สหกรณ์
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<select class="form-control" ng-model="SpermDetail.cooperative_id" ng-options="data.id as data.cooperative_name for data in Cooperative" required="required" ng-change="checkDuplicateCo(SpermDetail, $index)">
							<option value="">กรุณาเลือก..</option>
						</select>
					</div>
					
					<div class="col-lg-4 col-md-4">
						<button class="btn btn-danger pull-right" ng-click="removeDetail(SpermDetail.id, parentIndex)">
							<span class="glyphicon glyphicon-trash"></span> 
							
						</button>
					</div>
					
				</div>
				<div class="row form-group">
					<div class="col-lg-12">
						<b>เกษตรกร / สมาชิก</b>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						สมาชิกทั้งหมด (ราย)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_person">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						สมาชิกส่งนม (ราย)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_person_sent">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						สมาชิกหยุดส่งนม (ราย)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.stop_send_milk">
					</div>
					
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						สมาชิกสมัครใหม่ (ราย)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.new_member">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						สมาชิกลาออก (ราย)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.leave_member">
					</div>
				</div>
				<hr>
				<div class="row form-group">
					<div class="col-lg-12">
						<b>โค</b>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						โคทั้งหมด (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_cow">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						โครีดนม (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_cow_beeb">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						โคสาวท้อง (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.cow_pregnant">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						โคสาวไม่ท้อง
						อายุมากกว่า 2 ปี (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.cow_none_pregnant">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						โคหยุดรีด (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.cattle_stop_rolling">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						โคเพศเมีย อายุ 0-1 เดือน
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.cow_child">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						โคเพศเมีย 
						อายุมากกว่า 1 เดือน - 1 ปี
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.cow_women">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						โคเพศเมีย 
						อายุมากกว่า 1-2 ปี
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.cow_man">
					</div>
					
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ปริมาณนม (กิโลกรัม)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.milk_amount">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_values">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ราคาเฉลี่ย (บาท/กิโลกรัม)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.average_values">
					</div>
				</div>
			</div>
			<br><br>
			</fieldset>
		</div>
		<br><br>
		<div class="row form-group">
			<label class="form-control-static col-lg-1">
				หมายเหตุ 
			</label>
			<div class="col-lg-11">
				<textarea class="form-control" ng-model="Sperm.user_comment" ng-disabled="!Maker"></textarea>
			</div>
		</div>
	</div>

	<hr>
	<div class="row form-group">
		<div class="col-lg-12 text-center">
			<button class="btn btn-default" ng-click="cancelUpdate()">
				<span class="glyphicon glyphicon-arrow-left"></span> 
				กลับหน้าหลัก
			</button>
			<button class="btn btn-primary" ng-click="save(Sperm, SpermDetailList)" ng-disabled="!form_data.$valid || Saving" ng-show="Maker">
				<span class="glyphicon glyphicon-floppy-save"></span> 
				บันทึก
			</button>
			
			<button class="btn btn-success" ng-click="approve(Sperm, 'dep')" 
						ng-show="Sperm.id != '' && Sperm.dep_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date == null
								&& Sperm.division_approve_id == null
								&& Sperm.office_approve_id == null">
					<span class="glyphicon glyphicon-check"></span> 
					อนุมัติ
				</button>
				<button class="btn btn-danger" ng-click="reject(Sperm, 'dep')" 
						ng-show="Sperm.id != '' && Sperm.dep_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date == null
								&& Sperm.division_approve_id == null
								&& Sperm.office_approve_id == null">
					<span class="glyphicon glyphicon-remove-sign"></span> 
					ไม่อนุมัติ
				</button>

				<button class="btn btn-success" ng-click="approve(Sperm, 'division')" 
						ng-show="Sperm.id != '' && Sperm.division_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date != null
								&& Sperm.division_approve_date == null
								&& Sperm.office_approve_id == null">
					<span class="glyphicon glyphicon-check"></span> 
					อนุมัติ
				</button>
				<button class="btn btn-danger" ng-click="reject(Sperm, 'division')" 
						ng-show="Sperm.id != '' && Sperm.division_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date != null
								&& Sperm.division_approve_date == null
								&& Sperm.office_approve_id == null">
					<span class="glyphicon glyphicon-remove-sign"></span> 
					ไม่อนุมัติ
				</button>

				<button class="btn btn-success" ng-click="approve(Sperm, 'office')" 
						ng-show="Sperm.id != '' && Sperm.office_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date != null
								&& Sperm.division_approve_date != null
								&& Sperm.office_approve_date == null">
					<span class="glyphicon glyphicon-check"></span> 
					อนุมัติ
				</button>
				<button class="btn btn-danger" ng-click="reject(Sperm, 'office')" 
						ng-show="Sperm.id != '' && Sperm.office_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date != null
								&& Sperm.division_approve_date != null
								&& Sperm.office_approve_date == null">
					<span class="glyphicon glyphicon-remove-sign"></span> 
					ไม่อนุมัติ
				</button>
		</div>
	</div>

	<div class="row form-group" ng-show="Sperm.id != '' && 
	((Sperm.dep_approve_comment != null && Sperm.dep_approve_comment != '') || (Sperm.division_approve_comment != null && Sperm.division_approve_comment != '') || (Sperm.office_approve_comment != null && Sperm.office_approve_comment != ''))">
		<div class="col-lg-12 text-center" style="color: red;">
			
			ไม่อนุมัติ เนื่องจาก {{Sperm.dep_approve_comment + Sperm.division_approve_comment + Sperm.office_approve_comment}}
			
		</div>
	</div>
</div>
<script type="text/ng-template" id="reject_dialog.html">
	<div class="modal-header">
		<h5 class="modal-title">Confirm</h5>
	</div>
	<div class="modal-body">
		<div  class="obj_center" bind-html-compile="alertMessage"></div>
		<br>
		<div class="row form-group">
			<div class="col-lg-10 col-lg-offset-1">
				<textarea class="form-control" ng-model="ApproveComment" placeholder="ระบุเหตุผลที่ไม่อนุมัติ.."></textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	<button class="btn btn-default" ng-click="ok(ApproveComment)">OK</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</script>
