<div ng-include src="'views/header.html'"></div>
<div class="page-header">
    <h3>บริหารจัดการข้อมูล > บริหารจัดการรายการผลิตภัณฑ์นม</h3>
</div>
<div class="col-lg-10 col-lg-offset-1" ng-form="form_data">
    <div class="row form-group">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            สำนักงาน
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {{Data.factory_name}}
        </div>

    </div>
    <div class="row form-group">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            ประเภทหลัก
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {{Data.name}}
        </div>

    </div>
    <div class="row form-group">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            ลักษณะผลิตภัณฑ์
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <select name="Year" class="form-control" ng-model="Subdata.product_character">
                <option value="">กรุณาเลือก..</option>
                <option value="นม">นม</option>
                <option value="โยเกิร์ตพร้อมดื่ม">โยเกิร์ตพร้อมดื่ม</option>
                <option value="โยเกิร์ต">โยเกิร์ต</option>
                <option value="ไอศกรีม">ไอศกรีม</option>
                <option value="ครีม">ครีม</option>
                <option value="น้ำดื่ม">น้ำดื่ม</option>
                <option value="ซอฟเสริฟ">ซอฟเสริฟ</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            ประเภทผลิตภัณฑ์หลัก
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input type="text" class="form-control" ng-model="Subdata.name" maxlength="255" required="required">
        </div>
    </div>
    <!-- <div class="row form-group">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            ตัวแทนจำหน่าย
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <select name="Year" class="form-control" ng-model="Data.agent" required="required">
                <option value="">ขายนมโรงเรียน (ขนส่ง)</option>
            </select>
        </div>
    </div> -->
    <div class="row form-group">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            สถานะ
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="btn-group">
                <label class="btn btn-default btn-checkbox" ng-model="Subdata.actives" uib-btn-radio="'Y'" >ใช้</label>
                <label class="btn btn-default btn-checkbox" ng-model="Subdata.actives" uib-btn-radio="'N'" >ไม่ใช้</label>
            </div>
        </div>
    </div>
    
    <hr>
    <div class="row form-group">
        <div class="col-lg-12 text-center">
            <button class="btn btn-primary" ng-click="save(Subdata)" ng-disabled="!form_data.$valid">
                <span class="glyphicon glyphicon-floppy-save"></span> 
                บันทึก
            </button>
            <button class="btn btn-default" ng-click="cancelUpdate()">
                <span class="glyphicon glyphicon-arrow-left"></span> 
                กลับหน้าหลัก
            </button>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-12 table-responsive">
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>

                        <th>จัดการ</th>
                        <th>ประเภทหลัก</th>
                        <th>ลักษณะผลิตภัณฑ์ / ประเภทผลิตภัณฑ์หลัก</th>
                        <th>สถานะ</th>
                        <!--<th>แก้ไข</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in List2">


                        <td style="text-align: center;">
                            <button class="btn btn-success" ng-click="goAdd(data.id)">

                                เพิ่มรายการ
                            </button>
                            <button class="btn btn-success" ng-click="goUpdate(data.id)">

                                แก้ไข
                            </button>
                        </td>
                        <td style="text-align: center;">{{data.proname}}</td>
                        <td style="text-align: center;">{{(data.product_character!=null?data.product_character:'') + ' ' + data.name}}</td>
                        <td style="text-align: center;" ng-class="{'inactive-text':data.actives == 'N'}">{{data.actives=='Y'?'ใช้งาน':'ไม่ใช้งาน'}}</td>
                        <!--					<td>
                                                                        <button class="btn btn-success" ng-click="goUpdate(data.id)">
                                                                                <span class="glyphicon glyphicon-edit"></span> 
                                                                                แก้ไข
                                                                        </button>
                                                                </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<style type="text/css">
    .inactive-text{
        color: red;
    }
</style>