<div ng-include src="'views/header.html'"></div>
<div class="page-header">
	<h3>
		<span ng-repeat="data in MenuName">
	        <span ng-show="$index > 0">></span>
	        {{data.menu_name_th}}
	    </span>
	</h3>
</div>
<div class="col-lg-10 col-lg-offset-1" ng-form="form_data">
	<div class="row form-group">
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			ชื่อสหกรณ์
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<select class="form-control" ng-model="Sperm.cooperative_id" ng-options="data.id as data.cooperative_name for data in Cooperative" required="required">
				<option value="">กรุณาเลือก..</option>
			</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			เดือน
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<select name="Year" class="form-control" ng-model="Sperm.months" ng-options="month.monthValue as month.monthText for month in MonthList" required="required">
					<option value="">กรุณาเลือก..</option>
				</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			ปีพ.ศ.
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<select name="Year" class="form-control" ng-model="Sperm.years" ng-options="year.yearText as year.yearValue for year in YearList" required="required">
					<option value="">กรุณาเลือก..</option>
				</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			<button class="btn btn-info" ng-click="goSearch(Sperm)" ng-disabled="!form_data.$valid">
				<span class="glyphicon glyphicon-search"></span> 
				ค้นหา
			</button>
		</div>
	</div>
	<hr>
	<div ng-show="Search || SpermDetailList.length > 0">
		<div class="row form-group">
			<div class="col-lg-6">
				<div class="row form-group">
					<label class="col-lg-12 form-control-static">
						สหกรณ์ : {{CooperativeName}}
					</label>
					<label class="col-lg-12 form-control-static">
						 เดือน : {{MonthName}}
					</label>
					<label class="col-lg-12 form-control-static">
						ปีพ.ศ. : {{YearName}}
					</label>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row form-group">
					<label class="col-lg-12 form-control-static">
						เป้าหมายประจำปี : {{Goal.goal_year.price_value}} บาท
					</label>
					<label class="col-lg-12 form-control-static">
						 เป้าหมายสะสม : {{Goal.goal_total}} บาท
					</label>
					<label class="col-lg-12 form-control-static">
						เป้าหมายประจำเดือน : {{Goal.goal_months}} บาท
					</label>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-12">
				<button class="btn btn-danger  pull-right" ng-click="addSpermDetail()" ><!--ng-disabled="!form_data.$valid"-->
				<span class="glyphicon glyphicon-plus"></span> 
				เพิ่ม
			</button>
			</div>
		</div>
		<div>
			
			<div ng-form="sub_form_data">
				<div class="row form-group" ng-repeat="SpermDetail in SpermDetailList" ng-init="parentIndex = $index">
					<fieldset style="border: 1px solid #999; padding: 10px; margin-top: 10px;">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						วันที่แก้ไขล่าสุด {{getThaiDateTimeFromString(SpermDetail.update_date)}}
					</div>
					<div class="col-lg-12">
						<div class="row form-group">
							<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
								รายการ
							</div>
							<div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
								<select class="form-control" ng-model="SpermDetail.material_type_id" ng-options="data.id as data.goal_name for data in MasterGoalList" ><!--ng-change="loadDairyFarming('CHILD', SpermDetail.dairy_farming_id)" -->
									<option value="">กรุณาเลือก..</option>
								</select>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
								ปริมาณ
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
								<input type="text" ng-model="SpermDetail.amount" class="form-control">
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
								<select class="form-control" ng-model="SpermDetail.amount_unit"><!--ng-change="loadDairyFarming('CHILD', SpermDetail.dairy_farming_id)" -->
									<option value="">กรุณาเลือก..</option>
									<option value="ลิตร">ลิตร</option>
									<option value="ชุด">ชุด</option>
									<option value="กล่อง">กล่อง</option>
									<option value="ถัง">ถัง</option>
									<option value="แกนล่อน">แกนล่อน</option>
									<option value="ขวด">ขวด</option>
									<option value="กิโลกรัม">กิโลกรัม</option>
									<option value="หลอด">หลอด</option>
									<option value="ใบ">ใบ</option>
								</select>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
								มูลค่า
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
								<input type="text" ng-model="SpermDetail.price" class="form-control">
							</div>
							<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
								<button class="btn btn-danger" ng-click="removeDetail(SpermDetail.id, parentIndex)">
									<span class="glyphicon glyphicon-trash"></span> 
									
								</button>
							</div>
						</div>
					</div>
					</fieldset>
				</div>
				<!--<div class="row form-group">
					<div class="col-lg-12">
						<button class="btn btn-primary pull-right" ng-click="addSpermItem($index)">
							<span class="glyphicon glyphicon-plus"></span> 
							เพิ่มรายการ
						</button>
					</div>
				</div>-->
			</div>
			<br><br>
			
		</div>
		<br><br>
		<div class="row form-group">
			<label class="form-control-static col-lg-1">
				หมายเหตุ 
			</label>
			<div class="col-lg-11">
				<textarea class="form-control" ng-model="Sperm.user_comment" ng-disabled="!Maker"></textarea>
			</div>
		</div>
	</div>
	<hr>
	<div class="row form-group">
		<div class="col-lg-12 text-center">
			<button class="btn btn-default" ng-click="cancelUpdate()">
				<span class="glyphicon glyphicon-arrow-left"></span> 
				กลับหน้าหลัก
			</button>
			<button class="btn btn-primary" ng-click="save(Sperm, SpermDetailList)" ng-disabled="!form_data.$valid || Saving ||  SpermDetailList.length == 0" ng-show="Maker">
				<span class="glyphicon glyphicon-floppy-save"></span> 
				บันทึก
			</button>
			
			<button class="btn btn-success" ng-click="approve(Sperm, 'dep')" 
						ng-show="Sperm.id != '' && Sperm.dep_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date == null
								&& Sperm.division_approve_id == null
								&& Sperm.office_approve_id == null">
					<span class="glyphicon glyphicon-check"></span> 
					อนุมัติ
				</button>
				<button class="btn btn-danger" ng-click="reject(Sperm, 'dep')" 
						ng-show="Sperm.id != '' && Sperm.dep_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date == null
								&& Sperm.division_approve_id == null
								&& Sperm.office_approve_id == null">
					<span class="glyphicon glyphicon-remove-sign"></span> 
					ไม่อนุมัติ
				</button>

				<button class="btn btn-success" ng-click="approve(Sperm, 'division')" 
						ng-show="Sperm.id != '' && Sperm.division_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date != null
								&& Sperm.division_approve_date == null
								&& Sperm.office_approve_id == null">
					<span class="glyphicon glyphicon-check"></span> 
					อนุมัติ
				</button>
				<button class="btn btn-danger" ng-click="reject(Sperm, 'division')" 
						ng-show="Sperm.id != '' && Sperm.division_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date != null
								&& Sperm.division_approve_date == null
								&& Sperm.office_approve_id == null">
					<span class="glyphicon glyphicon-remove-sign"></span> 
					ไม่อนุมัติ
				</button>

				<button class="btn btn-success" ng-click="approve(Sperm, 'office')" 
						ng-show="Sperm.id != '' && Sperm.office_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date != null
								&& Sperm.division_approve_date != null
								&& Sperm.office_approve_date == null">
					<span class="glyphicon glyphicon-check"></span> 
					อนุมัติ
				</button>
				<button class="btn btn-danger" ng-click="reject(Sperm, 'office')" 
						ng-show="Sperm.id != '' && Sperm.office_approve_id == currentUser.UserID 
								&& Sperm.dep_approve_date != null
								&& Sperm.division_approve_date != null
								&& Sperm.office_approve_date == null">
					<span class="glyphicon glyphicon-remove-sign"></span> 
					ไม่อนุมัติ
				</button>
		</div>
	</div>
	<div class="row form-group" ng-show="Sperm.id != '' && 
	((Sperm.dep_approve_comment != null && Sperm.dep_approve_comment != '') || (Sperm.division_approve_comment != null && Sperm.division_approve_comment != '') || (Sperm.office_approve_comment != null && Sperm.office_approve_comment != ''))">
		<div class="col-lg-12 text-center" style="color: red;">
			
			ไม่อนุมัติ เนื่องจาก {{Sperm.dep_approve_comment + Sperm.division_approve_comment + Sperm.office_approve_comment}}
			
		</div>
	</div>
</div>
<script type="text/ng-template" id="reject_dialog.html">
	<div class="modal-header">
		<h5 class="modal-title">Confirm</h5>
	</div>
	<div class="modal-body">
		<div  class="obj_center" bind-html-compile="alertMessage"></div>
		<br>
		<div class="row form-group">
			<div class="col-lg-10 col-lg-offset-1">
				<textarea class="form-control" ng-model="ApproveComment" placeholder="ระบุเหตุผลที่ไม่อนุมัติ.."></textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	<button class="btn btn-default" ng-click="ok(ApproveComment)">OK</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</script>